.footer-container{
    display: flex;
    width: 100%;
    background-color: #0c0f15;
    justify-content: center;
    align-items: center;
    min-height: 6vh;
}
.footer-container a{
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    margin-left: 5px;
}
.footer-container a:hover{
    cursor: pointer;
}
.footer-container p{
    color: #ffffff;
    font-size: 12px;
    margin-left: 5px;
}
.footer-container img{
    width: 16px;
}
.footer-container img:hover{
    cursor: pointer;
}