.header-container{
    width: 100%;
    background-color: #0c0f15;
    display: flex;
    align-items: center;
    min-height: 7vh;
}
.icon-container{
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.icon-container span{
    margin-left: 8px;
    color: #0ae98a;
}
.icon-container img{
    width: 35px;
    margin-left: 10px;
}
.icon-container img:hover{
    cursor: pointer;
}
.links-container{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.links-container .nav-link{
    color: #ffffff;
    text-decoration: none;
}
@media (max-width: 450px){
    .header-container{
        display: flex;
        flex-direction: column;
    }
    .icon-container{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .links-container{
        width: 100%;
    }
}