.search-bar-container{
    min-height: 87vh;
    width: 100%;
}
.search-input-container{
    display: flex;
    width: 85%;
    justify-content: center;
    padding-top: 35px;
    margin: 0 auto;
}
.search-input{
    height: 47px;
    color: #bec7bf;
    border-radius: 15px 0 0 15px;
    background-color: #ffffff;
    width: 90%;
}
.search-button{
    height: 47px;
    border-radius: 0 15px 15px 0 !important;
    background-color: #07b96d !important;
}
.search-p-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.search-p-container p{
    color: #bec7bf;
    width: 80%;
    text-align: center; 
    margin-top: 5px;
}


.my-masonry-grid {
    display: flex;
    width: auto;
    column-count: 3;
}
.my-masonry-grid_column {
    padding-left: 8px; 
    background-clip: padding-box;
}
.photos-container-img {
    position: relative;
    margin-bottom: 8px; 
}
.photos-container-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}
.image-container {
    position: relative;
}
.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}  
.fav-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}


.alert-container{
    position: fixed;
    top: 1%;
    right: 1%;
    width: 30%;
}
.fav-icon{
    position: absolute;
    top: 1%;
    right: 1%;
}
@media (max-width: 450px){
    .search-input-container{
        width: 98%;
    }
    .search-input{
        width: 97%;
    }
}