.fav-container{
    min-height: 87vh;
    width: 100%;
}
.input-container{
    display: flex;
    width: 85%;
    justify-content: center;
    padding-top: 35px;
    margin: 0 auto;
}
.search-input-fav{
    border-radius: 15px;
    height: 47px;
    color: #bec7bf;
    background-color: #ffffff;
    width: 90%;
}
.fav-container p{
    color: azure;
}


.my-masonry-grid {
    display: flex;
    width: auto;
    column-count: 3;
}
.my-masonry-grid_column {
    padding-left: 8px; 
    background-clip: padding-box;
}
.photos-fav-container-img {
    position: relative;
    margin-bottom: 8px; 
}
.photos-fav-container-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}
.image-container {
    position: relative;
}
.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}  
.fav-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* 
.photos-fav-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 8px;
}
.photos-fav-container-img{
    position: relative;
}
.photos-fav-container-img img{
    width: 310px;
    height: 469px;
    border-radius: 5px;
} */




.modal-container{
    display: flex;
    border-radius: 5px;
    width: 70%;
    max-width: 586px;
    margin: 218px auto 0px;
    background-color: #bcdab7fa;
    padding: 5px 20px 5px;
}
.modal-container__text{
    width: 100%;
}
.modal-container__text button{
    background-color: #07b96d;
    height: 55px;
}
.modal-container__text span svg{
    margin-top: 7px;
    cursor: pointer;
    transition-property: scale;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}
.modal-container__text span svg:hover{
    scale: calc(1.2);
}
.description-input-container{
    display: flex;
    width: 100%;
}
.input-description{
    width: 90%;
}
.input-description .MuiInputBase-formControl{
    border-radius: 15px 0 0 15px;
}
.description-input-container button{
    font-size: 10px;
    width: 8%;
    border-radius: 0 15px 15px 0;
}
.sort-container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}
.sort-form{
    background-color: #07b96d;
    width: 110px;
    border-radius: 18px;
}
.sort-form svg{
    color: #ffffff;
}
@media (max-width: 450px){
    .input-container{
        width: 97%;
    }
    .search-input-fav{
        width: 99%;
    }
}